TIỀN XỬ LÝ DỮ LIỆU

In [ ]:
import pandas as pd

df = pd.read_csv('../hotel.csv')

+ Booking_ID : mã định danh duy nhất của mỗi lần đặt phòng
+ no_of_adults : Số lượng người lớn
+ no_of_children : Số lượng trẻ em
+ no_of_weekend_nights : Số đêm cuối tuần (thứ bảy hoặc chủ nhật) mà khách đã ở hoặc đặt phòng tại khách sạn
+ no_of_week_nights : Số đêm trong tuần (từ thứ Hai đến thứ Sáu) mà khách đã ở hoặc đặt phòng tại khách sạn
+ type_of_meal_plan : Loại gói bữa ăn mà khách hàng đặt
+ required_car_parking_space : Khách hàng có yêu cầu chỗ đậu xe không? (0 - Không, 1- Có)
+ room_type_reserved : Loại phòng được khách hàng đặt
+ lead_time : Số ngày giữa ngày đặt phòng và ngày đến
+ arrival_year : Năm đến
+ arrival_month : Tháng đến
+ arrival_date : Ngày trong tháng
+ market_segment_type : Chỉ định phân khúc thị trường
+ repeat_guest : Khách hàng có phải là khách quen không? (0 - Không, 1- Có)
+ no_of_previous_cancellations : Số lượng đặt phòng trước đó đã bị khách hàng hủy trước khi đặt phòng hiện tại
+ no_of_previous_bookings_not_canceled : Số lượng đặt phòng trước đó không bị khách hàng hủy trước khi đặt phòng hiện tại
+ avg_price_per_room : Giá trung bình mỗi ngày của đặt phòng. (tính bằng euro)
+ no_of_special_requests : Tổng số yêu cầu đặc biệt của khách hàng (ví dụ: tầng cao, tầm nhìn từ phòng, v.v.)
+ booking_status : Cho biết đặt phòng đã bị hủy hay chưa. (1 - Not_Canceled, 0 - Canceled)

In [ ]:
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [29]:
df = df.drop(columns=['Booking_ID'])
df.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

Đếm giá trị null trong dataframe

In [30]:
df.isnull().sum()

no_of_adults                            0
no_of_children                          0
no_of_weekend_nights                    0
no_of_week_nights                       0
type_of_meal_plan                       0
required_car_parking_space              0
room_type_reserved                      0
lead_time                               0
arrival_year                            0
arrival_month                           0
arrival_date                            0
market_segment_type                     0
repeated_guest                          0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
avg_price_per_room                      0
no_of_special_requests                  0
booking_status                          0
dtype: int64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   no_of_adults                          36275 non-null  int64
 1   no_of_children                        36275 non-null  int64
 2   no_of_weekend_nights                  36275 non-null  int64
 3   no_of_week_nights                     36275 non-null  int64
 4   type_of_meal_plan                     36275 non-null  object
 5   required_car_parking_space            36275 non-null  int64
 6   room_type_reserved                    36275 non-null  object
 7   lead_time                             36275 non-null  int64
 8   arrival_year                          36275 non-null  int64
 9   arrival_month                         36275 non-null  int64
 10  arrival_date                          36275 non-null  int64
 11  market_segment_type                   36275 non-null  object
 12  repeated_guest                        36275 non-null  int64
 13  no_of_previous_cancellations          36275 non-null  int64
 14  no_of_previous_bookings_not_canceled  36275 non-null  int64
 15  avg_price_per_room                    36275 non-null  float64
 16  no_of_special_requests                36275 non-null  int64
 17  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(4)
memory usage: 5.0+ MB

Kiểm tra các giá trị trong các cột có kiểu dữ liệu object

In [32]:
col = 'type_of_meal_plan'
print(f"Cột: {col}")
print("Số lượng giá trị unique:", df[col].nunique())
print(df[col].value_counts().to_string())

Cột: type_of_meal_plan
Số lượng giá trị unique: 4
type_of_meal_plan
Meal Plan 1     27835
Not Selected     5130
Meal Plan 2      3305
Meal Plan 3         5

In [33]:
col = 'room_type_reserved'
print(f"Cột: {col}")
print("Số lượng giá trị unique:", df[col].nunique())
print(df[col].value_counts().to_string())

Cột: room_type_reserved
Số lượng giá trị unique: 7
room_type_reserved
Room_Type 1    28130
Room_Type 4     6057
Room_Type 6      966
Room_Type 2      692
Room_Type 5      265
Room_Type 7      158
Room_Type 3        7

In [34]:
col = 'market_segment_type'
print(f"Cột: {col}")
print("Số lượng giá trị unique:", df[col].nunique())
print(df[col].value_counts().to_string())

Cột: market_segment_type
Số lượng giá trị unique: 5
market_segment_type
Online           23214
Offline          10528
Corporate         2017
Complementary      391
Aviation           125

In [35]:
col = 'booking_status'
print(f"Cột: {col}")
print("Số lượng giá trị unique:", df[col].nunique())
print(df[col].value_counts().to_string())

Cột: booking_status
Số lượng giá trị unique: 2
booking_status
Not_Canceled    24390
Canceled        11885

Encoding các cột kiểu dữ liệu object

In [36]:
from sklearn.preprocessing import LabelEncoder

cols_to_encode = ['type_of_meal_plan', 'room_type_reserved', 'market_segment_type', 'booking_status']
label_encoders = {}

for col in cols_to_encode:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

In [37]:
df.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,1,2,0,0,0,224,2017,10,2,3,0,0,0,65.00,0,1
1,2,0,2,3,3,0,0,5,2018,11,6,4,0,0,0,106.68,1,1
2,1,0,2,1,0,0,0,1,2018,2,28,4,0,0,0,60.00,0,0
3,2,0,0,2,0,0,0,211,2018,5,20,4,0,0,0,100.00,0,0
4,2,0,1,1,3,0,0,48,2018,4,11,4,0,0,0,94.50,0,0

Lưu file sau khi đã làm sạch dữ liệu

In [38]:
df.to_csv('../clean.csv', index=False, encoding='utf-8')